<template>
    <div>
        <navbar />
    	<sidebar />
        <div class="content-wrapper"  style="min-height: 912px;">
            <ContentHeader :breadcrumb="breadcrumb" :mode="mode" />
            <section class="content">
                <div class="container-fluid">
					<TableList :rows="rows" :columns="columns" v-on:fetchData="fetchData"/>
                </div>
            </section>
        </div> 
        <FooterAdmin /> 
    </div>
</template>

<script>
import sidebar from '@/components/Sidebar.vue';
import TableList from '@/components/TableList.vue';
import ContentHeader from '@/components/ContentHeader.vue';
import FooterAdmin from '@/components/FooterAdmin.vue';
import navbar from '@/components/NavBar.vue';
import getData from '../../../mixins/getData';
import dataDepartment from "./departmentList.json";

import { mapState } from 'vuex'

export default {
    mixins: [getData],
    components: {
	    sidebar,
        TableList,
        ContentHeader,
		FooterAdmin,
		navbar
    },
    data() {
        return {
            columns: dataDepartment.columns,
            breadcrumb: dataDepartment.breadcrumb,
        }
    },
    
}
</script>