<template>
 	<div>
	 	<div class="login-page">
			<div class="login-logo">
				<a href=""> <img src="img/logo__luizao.png" alt="" style="height: 150px;"> </a>
			</div>
			<div class="card">
				<div class="card-body login-card-body" style=" min-width: 400px; max-width: 400px;">
					<p class="login-box-msg">Faça login para iniciar sua sessão</p>
					<p class="login-box-msg" style="color: red">{{this.status}}</p>
					<p class="login-box-msg" style="color: red">{{this.message}}</p>
					<form class="login" @submit.prevent="login">
						<div class="input-group mb-3">
							<input id="email" type="email" class="form-control" v-model="email" autocomplete="email" placeholder="Email" autofocus required>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-envelope"></span>
								</div>
							</div>
						</div>
						<div class="input-group mb-3">
							<input id="password" type="password" class="form-control" v-model="password"  autocomplete="current-password" placeholder="Senha" autofocus required>
							<div class="input-group-append">
								<div class="input-group-text">
									<span class="fas fa-lock"></span>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-8">
								<div class="icheck-primary">
									<input type="checkbox" name="remember" id="remember" >
									<label class="form-check-label" for="remember">
										Lembrar
									</label>
								</div>
							</div>
							<div class="col-4">
								<button type="submit" class="btn btn-primary btn-block">Login</button>
							</div>
						</div>
					</form>
					<p class="mb-1">
						<a href="#">
							Eu esqueci minha senha
						</a>
					</p>
				</div>
			</div>
		</div>
 	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
	data(){
		return {
			email : "",
			password : "",
		}
	},
	methods: {
		login: function () {
			let email = this.email 
			let password = this.password
				
			this.$store.dispatch(
				'login',
				{email, password}
			)
			.then(
				() => this.$router.push('/company')
				
			)
			.catch(
				err => console.log(err)
			)
		}
	},
	computed: {
		status () {
      		return this.$store.state.status
		},
		message () {
      		return this.$store.state.message
    	},
        ...mapState(['status', 'message'])       
    }   
}
</script>