<template>
    <div class="content-header">
        <div class="container-fluid">
        	<div class="row mb-2">
            	<div v-if="mode == 'store'" class="col-sm-6" >
             		<h1 class="m-0 text-dark">Cadastrar {{breadcrumb.titulo}}</h1>
            	</div>
				<div v-else-if="mode == 'show'" class="col-sm-6">
             		<h1 class="m-0 text-dark">Editar {{breadcrumb.titulo}}</h1>
            	</div>
				<div v-else class="col-sm-6">
             		<h1 class="m-0 text-dark">Lista de {{breadcrumb.titulo}}</h1>
            	</div>
            	<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="#">Home</a></li>
						<li class="breadcrumb-item active">{{breadcrumb.modulo}}</li>
						<li class="breadcrumb-item active">{{breadcrumb.pagina}}</li>
					</ol>
            	</div>
        	</div>
    	</div>
    </div>
</template>

<script>
	export default {
		props:['breadcrumb', 'mode']
	}
</script>