<template>
  <div>
    <footer class="main-footer">
      <strong>Orgulhosamente desenvolvido por: </strong>Equipe de TI.
      <div class="float-right d-none d-sm-inline-block">
        <b>Versão</b> 1.0.0
      </div>
    </footer>
    <div id="sidebar-overlay"></div>
  </div>
</template>

