<template>
    <div>
        <ToastNotifcation :alert="alert"/>
        <LargeModal>
            <ResearchTable :rows="[]" :columns="columns" />
        </LargeModal>
        
        <div>
            <div class="card card-outline card-danger">
                <div class="card-body">
                    <form>      
                        <div class="row"> 
                            <div class="col-md-4">
                                <div class="input-group mb-3" v-for="(item, index) in properties" :key="index">
                                    <div class="input-group-prepend">
                                        <button type="button" class="btn btn-danger btn-sm">{{ item.label }}</button>
                                    </div>      
                                    <input v-if="item.hasMask" v-mask="[item.mask]" v-model="fields[item.name]" :id="item.id" :type="index.text" class="form-control" v-bind:class="{'is-invalid': item.hasError}" :name="item.name" :autocomplete="item.name" autofocus>                                  
                                    <input v-else v-model="fields[item.name]" :id="item.id" :type="index.text" class="form-control" v-bind:class="{'is-invalid': item.hasError}" :name="item.name" :autocomplete="item.name" autofocus> 
                                    <span v-if="item.erro" class="invalid-feedback" role="alert">
                                        <strong v-for="(erro, key) in item.erro" :key="key" >{{erro}}</strong>
                                    </span>
                                </div>
                            </div>
                        </div>
                       
                       
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Setores</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>User</th>
                      <th>Date</th>
                      <th>Status</th>
                      <th>Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </td>
                      <td>John Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-success">Approved</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                      <td>219</td>
                      <td>Alexander Pierce</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-warning">Pending</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                      <td>657</td>
                      <td>Bob Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-primary">Approved</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                    <tr>
                      <td>175</td>
                      <td>Mike Doe</td>
                      <td>11-7-2014</td>
                      <td><span class="tag tag-danger">Denied</span></td>
                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
         
                        <slot></slot>
                    </form>
                </div>
                <div class="card-footer">
                    <button @click="onSubmit" class="btn btn-danger btn-sm mx-sm-1 mb-1" type="submit"><i class="fas fa-save"></i> Salvar</button>
                    <button @click="toBack" class="btn btn-secondary btn-sm mx-sm-1 mb-1"><i class="fas fa-angle-left"></i> Voltar</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import sendData from '../mixins/sendData';
import ToastNotifcation from './ToastNotifcation.vue';
import LargeModal from './LargeModal.vue'
import ResearchTable from './ResearchTable.vue'
import dataComapy from "../storage/companyList.json";

export default {
    components: {
        ToastNotifcation,
        LargeModal,
        ResearchTable
    },
    mixins: [sendData],
    props:['mode', 'fields', 'properties', 'item'],
    data() {
        return {
            columns: dataComapy.columns,
        }
    },
    methods: {
        toBack() {
            this.$router.back()
        },
    },   
}
</script>