<template>
<div>
  	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-lg" role="document">
    		<div class="modal-content">
      			<div class="modal-header">
        			<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      			</div>
      			<div class="modal-body">		
				<slot>
				</slot>
      			</div>
      			<div class="modal-footer">
      			</div>
    		</div>
  		</div>
	</div>
</div>
</template>