<template>
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links  -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
            </li>
        </ul>
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
                <a @click="logout" class="nav-link"  href="#" aria-expanded="false">
                    <i class="fa fa-sign-out-alt"></i>
                    Sair
                </a>
            </li>
        </ul>
    </nav>
</template>

<script>
export default {
    computed : {
    	isLoggedIn : function(){ return this.$store.getters.isLoggedIn}
    },
    methods: {
      	logout: function () {
        	this.$store.dispatch('logout').then(() => {
          		this.$router.push('/')
        	})
      	}
    },
    created: function () {
    	this.$http.interceptors.response.use(undefined, function (err) {
        	return new Promise(function (resolve, reject) {
			  
				if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
            		this.$store.dispatch(logout)
          		}
          		throw err;
        	});
      	});
    }
}
</script>
