<template>
    <div>    
        <vue-bootstrap4-table :rows="rows" :columns="columns" :config="config" :classes="classes">
        </vue-bootstrap4-table>
    </div>
</template>

<script>
import VueBootstrap4Table from 'vue-bootstrap4-table'
import { mapState } from 'vuex'
import axios from '../http'

export default {
    components: {
        VueBootstrap4Table,
    },
    props:['columns'],
    data() {
        return {
            rows: [],
            alert: null,
            config: {
                checkbox_rows: false,
                highlight_row_hover: false,
                rows_selectable: false,
                show_reset_button:  false,
                show_refresh_button:  false,
                card_title: false,
                card_mode:  false,
                global_search: {
                    placeholder: "Filtrar Registros",
                    visibility: true,
                },
                
            },
             classes: {
                tableWrapper: "outer-table-div-class wrapper-class-two",
                table : {
                    "table table-bordered" : true,
                    "table-bordered my-class-two" : function(rows) {
                        return true
                    }
                },
            }
        }
    },
    methods: {
        fetchData() {
           
                axios.get(`http://localhost:8000/api/company`,  { 
                    headers: {
                    'Authorization': `Bearer ${this.token}`
                    }
                })
                .then(response => {
                    this.rows = response.data.rows
                    for(let i in this.rows) {
                        this.rows[i].Ações = {
                            id: this.rows[i].id,  
                        }
                    }
                })
                .catch(e => {
                    this.errors.push(e)
                })
            
        }
    },
    mounted() {
        this.fetchData();
    },
    computed: {
        ...mapState(['status','token','user'])       
    }

}
</script>
