<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Departamentos</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="display: block;">
                        <button type="button" class="btn btn-danger btn-sm" aria-label="Left Align" @click="incluirExigencia()">
                            <span class="fa fa-plus fa-lg" aria-hidden="true"></span> 
                            Incluir Novo 
                        </button>                     
                        <table class="table table-striped table-bordered table-sm table-hover mct-grid">
                            <thead>
                                <tr>
                                    <th class="mct-acoes">Ações</th>
                                    <th>
                                        <span>Departemento</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(exigencia,index) in exigencias" :key="index" :class="[{editing: exigencia == linhaEditada}, {'is-excluido': exigencia.status == 'E'}]" v-cloak v-on:dblclick="editExigencia(exigencia,index)"> 
                                        <td class="is-icon">
                                        <a href="#" class="btn btn-primary btn-sm" aria-label="Editar"  @click="editExigencia(exigencia,index)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a href="#" class="btn btn-danger btn-sm" aria-label="Deletar"  @click="excluirExigencia(index)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </td>
                                    <td> 
                                        <div class="view" style="width: 100px;">
                                            {{exigencia.name}}
                                        </div>
                                        <div class="edit" style="width:  100px;">
                                            <h1>teste</h1>
                                        </div>
                                    </td>                        
                                </tr>
                            </tbody>                                                    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>      
export default {
  	Name: 'TblCrcFornecedor',  
 	props: ['modo','exigencias'],
  	data () {
    	return {
        	errors:{},
          	message: '',
          	status: 0,
          	tipoAlerta: '',
          	linhaEditada: null,
          	fornecedor:null  
        }
  	},
  	methods: { 
		incluirExigencia () {
         
                if (typeof this.exigencias === 'undefined'){
                    this.exigencias.push({elct_codigo: '', elct_descricao: '', crcfi_numero: '', crcfi_emissao: '', crcfi_validade: '', status: 'N'}) 
                    this.linhaEditada = this.exigencias[0]
                    this.linhaEditada['id'] = 0 
                }else if (this.exigencias[0] && typeof this.exigencias[0].elct_codigo === 'undefined'){
                    this.exigencias[0] = {elct_codigo: '', elct_descricao: '', crcfi_numero: '', crcfi_emissao: '', crcfi_validade: '', status: 'N'}
                    this.linhaEditada = this.exigencias[0]
                    this.linhaEditada['id'] = 0  
                } else {
                    this.exigencias.push({elct_codigo: '', elct_descricao: '', crcfi_numero: '', crcfi_emissao: '', crcfi_validade: '', status: 'N'}) 
                    this.linhaEditada = this.exigencias[this.exigencias.length-1]
                    this.linhaEditada['id'] = this.exigencias.length-1 
                }
            
        },
		excluirExigencia (linha) {
			this.linhaEditada = null   
			this.exigencias[linha].status = 'E'
		},
    	editExigencia (linha,id) {
			if (this.linhaEditada === linha){
				this.linhaEditada = null    
			}else{
				this.linhaEditada = linha
				this.linhaEditada['id'] = id 
			}
    	},
    	      
  	},
}
</script>

<style scoped>
    [v-cloak] {
        display: none;
    }
    .edit {
        display: none;
    }
    .editing .edit {
        display: block
    }
    .editing .view {
        display: none;
    }  
      
    .is-icon{
        max-width: 65px;
    }

    .is-excluido{
        color: #C82333;
        background-color: #e39199!important; 
        text-decoration: line-through;
    }    
</style>

