<template>
    <div>
        <ToastNotifcation :alert="alert"/>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card card-outline card-danger">
                    <div class="card-header">
                        <div class="col-md-2">
                            <router-link class="btn btn-sm btn-danger" :to="{ path: $route.fullPath+'/store' }"><span aria-hidden="true" class="fa fa-plus fa-lg"></span> Novo Registro</router-link>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0">
                        <vue-bootstrap4-table :rows="rows" :columns="columns" :config="config" :classes="classes">
                            <template slot="Ações" slot-scope="props">
                                <router-link class="btn btn-sm btn-danger mx-sm-1 mb-1" :to="`${$route.fullPath}/${props.cell_value.id}`">
                                    <span class="fa fa-edit"></span> Editar
                                </router-link>
                                <button class="btn btn-secondary btn-sm mx-sm-1 mb-1" v-on:click="deleteItem(props.cell_value.id)"><span class="fa fa-trash"></span> Excluir</button>      
                            </template>
                        </vue-bootstrap4-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueBootstrap4Table from 'vue-bootstrap4-table'
import ToastNotifcation from './ToastNotifcation.vue';
import sendData from '../mixins/sendData';

export default {
    mixins: [sendData],
    components: {
        VueBootstrap4Table,
        ToastNotifcation
    },
    props:['rows', 'columns'],
    data() {
        return {
            alert: null,
            config: {
                checkbox_rows: false,
                highlight_row_hover: false,
                rows_selectable: false,
                show_reset_button:  false,
                show_refresh_button:  false,
                card_title: false,
                card_mode:  false,
                global_search: {
                    placeholder: "Filtrar Registros",
                    visibility: true,
                },
                
            },
             classes: {
                tableWrapper: "outer-table-div-class wrapper-class-two",
                table : {
                    "table table-bordered" : true,
                    "table-bordered my-class-two" : function(rows) {
                        return true
                    }
                },
            }
        }
    },
}
</script>

<!--
<style scoped>
.vbt-pagination-row
.page-item.active 
.page-link {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}


.btn-primary {
    color: #fff;
        background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-primary:hover {
    color: #fff;
      background-color: #6c757d;
    border-color: #6c757d;
    box-shadow: none;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
        padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    
</style>
-->