<template>
    <div v-if="showAlert == true" id="toastsContainerTopRight" class="toasts-top-right fixed">
        <div class="toast bg-success fade show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header"><strong class="mr-auto">Sucesso</strong>
                <button @click="removeAlert" data-dismiss="toast" type="button" class="ml-2 mb-1 close" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="toast-body">Operação processada com sucesso!</div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['alert'],
          data() {
            return {
                check: true,
            }
        },
        methods: {
            removeAlert: function () {
                this.check = false;
            }
        },
        computed: {
            showAlert: function () {
                if(this.check) {
                    return this.alert
                } else {
                    return false
                }
            }
        }
        
    }
</script>

