<template>
    <div>
        <navbar />
    	<sidebar />
        <div class="content-wrapper" style="min-height: 912px;">
            <ContentHeader :breadcrumb="breadcrumb" :mode="mode" />
            <section class="content">
                <div class="container-fluid">
					<FormComponent :breadcrumb="breadcrumb" :fields="fields" :properties="properties" :mode="mode" >
                    </FormComponent>
                </div>
            </section>
        </div>
        <FooterAdmin /> 
    </div>
</template>

<script>
import sidebar from '@/components/Sidebar.vue';
import ContentHeader from '@/components/ContentHeader.vue';
import FormComponent from '@/components/FormComponent.vue';
import TableForm from '@/components/TableForm.vue';
import FooterAdmin from '@/components/FooterAdmin.vue';
import navbar from '@/components/NavBar.vue';
import getData from '../../../mixins/getData';

export default {
    mixins: [getData],
    components: {
        sidebar,
        ContentHeader,
        FormComponent,
        FooterAdmin,
        navbar,
        TableForm
    },
    
}
</script>>