<template>
    <div>
        <navbar />
    	<sidebar />
        <div class="content-wrapper" style="min-height: 912px;">
            <ContentHeader :breadcrumb="breadcrumb" :mode="'show'" />
            <section class="content">
                <div class="container-fluid">
					 <FormComponent :breadcrumb="breadcrumb" :fields="fields" :properties="properties" :mode="mode" :resource="`company`" :id="this.$route.params.id">
                       <!-- <TableForm :exigencias="fields.departments" /> -->
                    </FormComponent>
                </div>
            </section>
        </div>
        <FooterAdmin /> 
    </div>
</template>

<script>
import sidebar from '@/components/Sidebar.vue';
import ContentHeader from '@/components/ContentHeader.vue';
import FormComponent from '@/components/FormComponent.vue';
import TableForm from '@/components/TableForm.vue';
import FooterAdmin from '@/components/FooterAdmin.vue';
import navbar from '@/components/NavBar.vue';
import getData from '../../../mixins/getData';
import dataComapy from "../../../storage/companyForm.json";

export default {
    mixins: [getData],
    components: {
        sidebar,
        ContentHeader,
        FormComponent,
        FooterAdmin,
        navbar,
        TableForm
    },
     data() {
        return {
            fields: dataComapy.fields,
            properties: dataComapy.properties,
            breadcrumb: dataComapy.breadcrumb
        }
    },
   
}
</script>